<%= link_to 'グループ一覧へ', groups_path, class: 'btn btn-lg btn-primary' %>
<%= link_to "削除", @group, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
<%= link_to '編集', edit_group_path(@group.id), class: 'btn btn-lg btn-primary' %>

<div class="text-left">
 <hr align="center">
  <h4>グループタイトル</h4>
    <%= @group.title %>
 <hr align="center">
  <h4>グループメンバー</h4>
    <% @members.each do |member| %>
      <li class="media">
        <%= member.name %>
      </li>
    <% end %>
 <hr align="center">
  <h4>説明文</h4>
    <%= @group.sentence %>
 <hr align="center">
  <h4>コメント</h4>
   <%= form_for(@post) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
      <%= f.submit '書き込む', class: 'btn btn-primary btn-block' %>
      <%= f.hidden_field :group_id, value: @group.id %>
   <% end %>
 <hr align="center">
  <%= link_to 'グループで行きたいお店を追加', restaurant_search_group_path, class: 'btn btn-lg btn-primary' %>
  <%= paginate(@created_posts) %>
  <% @created_posts.each do |created_post| %>
    <li class="media">
      <div class="media-body">
        <div>
          <p>ユーザ名：<%= created_post.user.name %>　  投稿日時：<%= created_post.created_at %></p>
        </div>
        <div>
          <%= created_post.content %>
        </div>
      </div>
    </li>
  <% end %>

  <hr align="center">
  <h4>グループで行きたいお店</h4>
  <%= paginate(@like_reataurants) %>
  <% @like_reataurants.each do |like_reataurant| %>
    <li class="media">
      <div class="media-body">
        <div>
          <%= like_reataurant.restaurant.name %>、<%= like_reataurant.restaurant.area %>、<%= like_reataurant.restaurant.station %>、<%= like_reataurant.restaurant.phone_number %>
        </div>
      </div>
    </li>
  <% end %>

</div>

<style>
  li {
    list-style-type: none;
  }
</style>