<div class="text-left">
  <h4>グループタイトル</h4>
    <%= @group.title %>
  <h4>グループメンバー</h4>
    <%= @members %>
  <h4>説明文</h4>
    <%= @group.sentence %>
  <h4>コメント</h4>
  
  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
      <%= f.submit 'コメントする', class: 'btn btn-primary btn-block' %>
      <%= f.hidden_field :group_id, value: @group.id %>
  <% end %>
</div>
