<%= link_to 'レストラン登録画面へ', new_restaurant_path, class: 'btn btn-lg btn-primary' %>

  <%= form_tag(restaurants_path, :method => :get) do %>
    <%= select_tag :restaurant_area, options_for_select(Restaurant.all.plack(:area)), include_blank: true,
                                      selected: params[:restaurant_area] %>
    <%= label_tag :name, "お店" %><%= text_field_tag :search, value: params[:search] %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>


<h4>検索結果</h4>
<h4>HIT件数<%= @count_restaurants %>件/<%= @restaurants_all %></h4>

<div class="row">
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= "#{restaurant.name}、" %><%= restaurant.address %>、<%= restaurant.area %>、<%= restaurant.station+'、' %><%= restaurant.phone_number %>
    　<%= render 'favorites/like_button', restaurant: restaurant %>
    </li>
  <% end %>
<%= link_to 'グループ詳細へ', groups_path, class: 'btn btn-lg btn-primary' %>
</div>
